<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>racingwebgame</display-name>
  <description>Racing Web Game</description>
  
  <session-config>
    <session-timeout>360</session-timeout>
  </session-config>
  
  <context-param>
		<param-name>fileSystemUrl</param-name>
		<param-value>c://RacingWebGame</param-value>
	</context-param>
	<context-param>
		<param-name>configurationFileName</param-name>
		<param-value>configuration.txt</param-value>
	</context-param>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>/axis2-web/index.jsp</welcome-file>
  </welcome-file-list>
  
  <listener>
		<listener-class>com.game.listeners.GameInitializer</listener-class>
	</listener>
</web-app>