@CHARSET "windows-1255";

body {
	background: #000;
}
canvas {
	display: block;
	border: solid 5px #444;
	margin: 0 auto;
}
#info {
	display: none;
}

.bigDiv {
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#startGame {
	z-index: 10;
	background: green;
	font:italic bold 12px/30px Georgia,serif;
}

#playZone {
	z-index: 5;
}

#gameResults {
	display: none;
	background: orange;
	font:italic bold 12px/30px Georgia,serif;
}

.playerNameForm {
	position: absolute;
	top: 20%;
	left: 20%;
	width: 50%;
    height: 50%;
    border: solid 2px #444;
}

.wellcomeText {
	top: 20%;
	left: 20%;
	font:italic bold 20px/30px Georgia,serif;
}

.errorMsg {
	font: 14px;
	color: red;
	display: none;
}

.gameGreetingMsg {
	display: none;
	margin: 10px 0 0 40px; 
	color: #900;
	font:italic bold 16px/30px Georgia,serif;
}

.resultTable {
	padding-left: 15px;
}

.resultTable th
{
    font: italic bold 16px Georgia,serif;
    padding: 15px;
    text-align: center;
    vertical-align: top;
    border-bottom: solid 2px #000000; 
}

.resultTable td
{
	font: normal 14px Georgia,serif;
    padding: 0px;
    text-align: center;
    vertical-align: top;
}